* {
    margin: 0px;
}

.headerCourseList {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.headerCourseList div {
    display: flex;
    gap: 20px;
}

.headerCourseList button {
    font-size: 20px;
    border: none;
    background: #2563EB;
    border-radius: 7px;
    color: white;
    padding: 10px 20px;
}


.main {
    display: flex;
}

.mainLeft {
    width: 15%;
    padding: 20px;
}

.hrefMenu {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 15px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    border-radius: 15px;
}

.hrefMenu:hover {
    padding: 15px;
    background: #E2E8F0;
    color: rgb(54, 47, 151);
}